<div class="container pt-5">
  <h1>Edit: <%= @flat.name %></h1>
  <br>
  <%= render 'form', flat: @flat %>
  <br>
  <%= link_to 'Back All our Flats', flats_path, class:'btn btn-outline-primary' %>
</div>
